.customer-outer-flex{
    height: 30vh;
    padding: 4em;
}
.cust-inner-item-left{
    background-image: url('../../assets/cool.jpg');
    background-size: cover;
    border-radius: 200px;
}
.cust-title{
    color: white;
    font-size: 30px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    margin-top: 3em;
}
.cust-sub{
    color: white;
    font-size: 22px;
    opacity: 0.8;
    font-family: var(--font-family);
    margin-bottom: 1em;
    text-align: center;
}
.cust-but{
    padding: 1em 2em;
    border-radius:5px;
    background-color: rgb(23, 255, 243);;
    color: white;
    font-family: var(--font-family);
    outline: none;
    border: 0;
    text-align: center;
    margin-left: 40%;
    font-size: 16px;
    margin-top: 1em;
}