*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: 10% ;
    
 
}
body, html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(110vh);

  scroll-snap-type: y mandatory;
  
}
section{
  scroll-snap-align: start;
 transition: 1s;
 
}
.parallax {
  /* The image used */
  background-image: url("./assets/tree.png");

  /* Set a specific height */
  min-height: 10vh;

  /* Create the parallax scrolling effect */
  background-attachment:fixed;
  
  
  background-size: cover;
}
.inview{
  opacity: 1 !important;
 
}
.outview{
  opacity: 0 !important;
  color: red;
  
}